:root {
--color-text-primary: rgba(28, 37, 46, 1);
--color-text-secondary: rgba(99, 115, 129, 1);
--color-text-disabled: rgba(145, 158, 171, 1);

--primary-bg: rgba(255, 224, 26, 1);
--primary-bg-hover: rgba(255, 171, 0, 1);
--primary-text: var(--color-text-primary);

--inherit-outline-border: rgba(145, 158, 171, 0.32);
--inherit-outline-text: var(--color-text-primary);
--inherit-outline-hover-border: rgba(145, 158, 171, 0.64);
--inherit-outline-hover-bg: rgba(145, 158, 171, 0.08);

--success-bg: rgba(34, 197, 94, 1);
--success-bg-hover: rgba(17, 141, 87, 1);
--success-text: rgba(255, 255, 255, 1);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: var(--color-text-primary);
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(120px, 200px) minmax(300px, 1fr);
}

h2 {
    font-family: 'Playfair Display', serif;
}

h2, p {
    margin: 0.5rem;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/* Navigation */

nav {
    background-color: rgba(223, 227, 232, 1);
    color: rgba(255, 255, 255, 1);
    padding: 1rem;
}


ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--color-text-primary);
    border-radius: 0.5rem;
    background-color: rgba(223, 227, 232, 1);
}

.nav-item:hover,
.nav-item:focus {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

header {
    padding: 1.5rem 2rem;
    font-size: 2rem;
    font-weight: bold;
}

main {
    padding: 0rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

/* Add button */

.add {
    width: fit-content;
    align-self: flex-start;
    background-color: var(--primary-bg);
    color: var(--primary-text);
    border: 1px solid var(--color-text-primary);
    font-weight: bold;
}

.add:hover {
    background-color: var(--primary-bg-hover);
    color: var(--primary-text);
}

/* Remove button */

.remove {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 32px;
    height: 32px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    z-index: 1;
}

.remove:hover {
    background: rgba(255,255,255,0.16);
}

.remove-icon {
    filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(71deg) brightness(107%) contrast(101%)
}

/* Card */

.card {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid var(--color-text-primary);
    border-radius: 0.5rem;
    height: 400px;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0.5rem 0.5rem 0 0 var(--primary-bg);
}

.thumbnail-container {
    position: relative;
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Image */

.image-container {
    width: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
}

.image-container::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s;
    pointer-events: none;
}

.image-container:hover::after {
    opacity: 1;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.page {
    color: var(--color-text-secondary);
    font-size: 0.875rem;
}

/* Read button */

.read {
    margin-top: 0.5rem;
}

.read.active {
  background-color: var(--success-bg);
  color: var(--success-text);
  border: 1px solid var(--success-bg);
}


/*
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown[data-status="no"] .read {
    background-color: rgba(255, 255, 255, 1);
    color: var(--inherit-outline-text);
    border: 1px solid var(--inherit-outline-border);
}

.dropdown[data-status="no"] .read:hover {
    background-color: var(--inherit-outline-hover-bg);
    color: var(--inherit-outline-text);
    border: 1px solid var(--inherit-outline-hover-border);
}

.dropdown[data-status="yes"] .read {
    border: var(--success-bg);
    background-color: var(--success-bg);
    color: var(--success-text);
}

.dropdown[data-status="yes"] .read:hover {
    background-color: var(--success-bg-hover);
    color: var(--success-text);
}
*/


.dropdown-menu {
  display: none;
  position: absolute;
  top: 110%;
  left: 0;
  background: rgba(255, 255, 255, 1);
  border: 1px solid #ccc;
  border-radius: 6px;
  min-width: 100px;
  z-index: 10;
}

.dropdown-item {
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #eee;
}

.dropdown.show .dropdown-menu {
  display: block;
}

.arrow-icon {
    width: 18px;
    height: 18px;
    filter: invert(0%) sepia(0%) saturate(7473%) hue-rotate(172deg) brightness(107%) contrast(108%);
}

.dropdown[data-status="yes"] .read >.arrow-icon {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
}

.new-book-form {
    min-width: 300px;
    max-width: 25vh;
    height: 100vh;
    background-color: rgba(255, 255, 255, 1);
    position: fixed;
    top: 0;
    right: -400px;
    box-shadow: -2px 0 8px rgba(0,0,0,0.2);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}
